# Core
requests
python-dotenv
trafilatura
lxml[html_clean]
pdfplumber

# App/UI
streamlit
fastapi
uvicorn

# AI/Embeddings
openai
tiktoken
sentence-transformers

# Database/Vector Search
qdrant-client

# Logging & Utils
loguru
tqdm
pandas
beautifulsoup4

# Dev & Testing
pytest
notebook
ipykernel
ipywidgets

# Machine Learning
scikit-learn

# EDA
matplotlib
seaborn
wordcloud
nltk    
spacy
umap-learn