# Core
requests
python-dotenv
trafilatura
lxml[html_clean]
pdfplumber

# App/UI
streamlit
fastapi
uvicorn

# AI/Embeddings
openai
tiktoken

# Database/Vector Search
qdrant-client

# Logging & Utils
loguru
tqdm
pandas
beautifulsoup4

# Dev & Testing
pytest
notebook
ipykernel

# Machine Learning
scikit-learn